<a href="https://colab.research.google.com/github/steffiprog/HSE-python/blob/main/workbook/2_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(c) В.И. Фирсанова | 2024

# Типы данных в Python

1. **Числовые типы**:
   - `int` integer, целое число `7`
   - `float` число с плавающей точкой (десятичная дробь) `7.1`

2. **Булевы перменные**:
   - `Bool` Boolean, принимает значения `True` или `False`

3. **Наборы, последовательности**:
   - `str` string, строка `"hello"`
   - `list`, список `[1, 7.1, "hello"]`, изменяемая последовательность
    - *вложенный список* состоит из множества списков `[[0, 1, 2], [3, 4]]`
   - `tuple`, кортеж `(1, 7.1, "hello), неизменяемая последовательность
    - в кортежах нельзя удалять, добавлять данные; они занимают меньше памяти
   - `dict`, dictionary, словарь `{"number": 1, "word": "hello"}`, пары ключей и значений (key-query)
    - в этом примере ключами будут `"number"` и `"word"`, а значениями - `1` и `"hello"`
  - `set`, множество, неупорядоченный набор уникальных элементов `{1, 2, 3}`
  - `frozenset`, неизменяемое множество (аналог кортежа по отношению к спискам)

4. **None**:
   - `None` можно использовать для создания пустого элемента, как плейсхолдер в функции, для проверки факта наличия объекта в переменной и т.д.

Задачи

1. Угадай число

In [1]:
import random # библиотека для генерации случайных чисел

# генерируем случайное целое число (random integer) от 0 до 10
# функция randint принимает два аргумента: диапазон генерации
magic_number = random.randint(0, 10)

# запросите у пользователя ввод числа
user_number = int(input("Введите число от 0 до 10:"))

if user_number == magic_number: # проверка на совпадение значений
  print('Поздравляю, вы угадали!')
else:
  print('А вот и нет! Это число', magic_number)

Введите число от 0 до 10:5
А вот и нет! Это число 6

Обратите внимание на строку `print('А вот и нет! Это число', magic_number)`

`print` может принимать несколько аргументов через запятую и выводить на экран их все!

Используйте это в следующем задании.

2. Приветствие

In [4]:
# запросите у пользователя его имя
user_name = str(input("Введите свое имя:"))
# вспомните, чем input(int()) отличается от input()
### ваш код здесь ###

# выведите на экран любое приветствие для пользователя
greeting = f"Hello,{user_name}!"
print(greeting)

Введите свое имя:Стефания
Hello,Стефания!

3. Конвертер температур

In [10]:
# запросите у пользователя температуру в градусах Цельсия:
# это должно быть дробное числом (float)
celsius = float(input("Введите температуру по Цельсию:"))

# конвертируйте температуру из градусов Цельсия в градусы Фаренгейта:
fahrenheit = 1.8 * celsius + 32


# выведите результат на экран:
# используйте любые текстовые формулировки, чтобы показать число,
# которое вы получили от пользователя, и результат расчетов
result = f"{celsius} = {fahrenheit} по Фаренегейту"
print(result)

Введите температуру по Цельсию:32.5
32.5 = 90.5 по Фаренегейту

Как вывести на экран несколько строк?

- Можно вызвать `print` несколько раз

```
print('Вот первая строка')
print('А это вторая строка')
```
- Можно использовать `\n` - символ новой строки

```
print('Вот первая строка \n А это вторая строка')
```

4. Округление и вывод с помощью новой строки

In [25]:
# результат расчетов в задаче 3 сохранился в переменных
# воспользуемся этим преимуществом!

# округлите оба значения температур в градусах Цельсия и в градусах Фаргентейта
# вы можете преобразовать результат к виду целого числа с помощью int(n); n - число для преобразования
# либо воспользоваться функцией round(n, k), указав в аргументах функции количество знаков после запятой k
# попробуйте оба варианта!
rounded_celsius = int(celsius)
rounded_fahrenheit = int(fahrenheit)
result = f"{rounded_celsius} по Цельсию = {rounded_fahrenheit} по Фаренгейту"
print(result)

second_rounded_celsius = round(celsius, 1)
second_rounded_fahrenheit = round(fahrenheit, 1)
result = f"{second_rounded_celsius} по Цельсию = {second_rounded_fahrenheit} по Фаренгейту"
print(result)

# теперь выведите на экран оба числа
# сделайте это в одну строчку кода:
# используйте символ новой строки, подумайте, куда его добавить
print(f"{rounded_celsius} градуса по Цельсию, \n {rounded_fahrenheit} градусов по Фаренгейту")

32 по Цельсию = 90 по Фаренгейту
32.5 по Цельсию = 90.5 по Фаренгейту
32 градуса по Цельсию,
 90 градусов по Фаренгейту

В задании 4 нам может помочь свойство конкатенации строк.

`print('Hello' + ' ' +'World')`

Но сложение строки с числом невозможно в питоне. Что делать?

5. Конвертирование типов данных

In [34]:
# преобразуйте округленные значения температур к виду строк, применив str(n),
# где n - то, что вы хотите преобразовать к виду строки
string_celsius = str(rounded_celsius)
string_fahrenheit = str(rounded_fahrenheit)

# выведите на экран результат:
# используйте конкатенацию строк вместо запятой в функции print
print(string_celsius + " по Цельсию" + " = " + string_fahrenheit + " по Фаренгейту")

32 по Цельсию = 90 по Фаренгейту

Чтобы преобразовать один тип данных в другой, мы вызываем функцию, обозначающую этот тип.

Закрепим новый материал.

6. Калькулятор

In [40]:
# запросите у пользователя 2 целых числа
# выполните операции сложения, вычитания, умножения и возведения каждого из чисел во вторую степень
# выведите результат на экран

num_1 = int(input("Введите первое целое число:"))
num_2 = int(input("Введите второе целое число:"))

sum = num_1 + num_2
subtr = num_1 - num_2
product = num_1 * num_2
exp_1 = pow(num_1, 2)
exp_2 = pow(num_2, 2)

print("Результат сложения", sum, "\n" "Результат вычитания", subtr, "\n" "Результат умножения", product, "\n" "Результат возведения первого числа во вторую степень", exp_1, "\n" "Результат возведения второго числа во вторую степень", exp_2 )

Введите первое целое число:25
Введите второе целое число:3
Результат сложения 28
Результат вычитания 22
Результат умножения 75
Результат возведения первого числа во вторую степень 625
Результат возведения второго числа во вторую степень 9

7. Анкета

In [42]:
# вспомним множественное присваивание в python
# a, b, c = 0, 1, 2
# используйте множественное присваивание,
# чтобы одной строчкой кода запросить у пользователя имя, возраст и профессию
# выведите на экран полученную информацию

name, age, job = input("введите ваше имя"), input("введите ваш возраст"), input("введите вашу профессию")
print(name, age, job)

введите ваше имяСтефания
введите ваш возраст23
введите вашу профессиюкомпьютерный лингвист
Стефания 23 компьютерный лингвист

8. Поменять местами переменные

In [44]:
# множественное присваивание иногда очень полезно
# запросите у пользователя две любые переменные
# это может быть строка или число, на ваш выбор

# поменяйте их местами одной строчкой кода:
# запишите в первую переменную информацию из второй,
# а во вторую переменную - информацию из первой, используя множественное присваивание

# выведите на экран промежуточные и итоговые результаты

fruit_1, fruit_2 = input("Введи первый любимый фрукт:"), input("Введи второй любимый фрукт:")
fruit_1, fruit_2 = fruit_2, fruit_1
print("Первый любимый фрукт:", fruit_1)
print("Второй любимый фрукт:", fruit_2)

Введи первый любимый фрукт:яблоко
Введи второй любимый фрукт:груша
Первый любимый фрукт: груша
Второй любимый фрукт: яблоко

9. Дописать функцию

In [45]:
# чаще мы используем множественное присваивание в фунциональном программировании
# например, эта функция считает сумму и произведение двух чисел
# функция принимает на вход (почти как input!) 2 числа
# эти числа запишутся в переменные a и b
def sum_and_product(a, b):
    # напишите здесь код для расчета суммы чисел a и b
    total_sum = a + b
    # а сюда допишите код для подсчета их произведения
    product = a * b
    # функция возвращает результат подсчета - два новых числа
    return total_sum, product

# настало время множественного присваивания
# мы вызывает функцию sum_and_product и передаем ей в качестве аргументов два числа - 5 и 3
# мы помним, что функция возвращает 2 новых числа,
# поэтому результат работы одной функции мы записываем в две переменные: result_sum и result_product
result_sum, result_product = sum_and_product(5, 3)

# выведите на экран result_sum и result_product
print(result_sum, result_product)

8 15

10. Строка и число

In [51]:
# запросите у пользователя 2 числа, используйте str(input())
# сложите два числа, не меняя тип данных, и выведите на экран результат
# преобразуйте числа к виду нужного типа и снова сложите их, выведите результат

# это задание нам уже знакомо:
# попробуйте решить его питонично, используя как можно меньше строк кода
# какие операции можно объединить?
# в каких случаях нам не нужно создавать дополнительные переменные?

# я подключила знания из дополнительных учебных материалов, попробовала сделать второй вариант через split

num_1, num_2 = str(input("Введите первое число")), str(input("Введите второе число"))
sum_num = num_1 + num_2
sum_num_int = int(num_1) + int(num_2)
print(sum_num, sum_num_int)

# опция 2 через метод split
a, b = input('Введите два числа через пробел: ').split()
print(a + b, int(a) + int(b))

Введите первое число25
Введите второе число3
253 28
Введите два числа через пробел: 25 3
253 28